.gridBox {
	width: 40px;
	height: 40px;
	background-color: #E4E4E4;
	margin-left: 3px;
	margin-bottom: 3px;
	display: inline-block;
}

.wrapper {
	width: 1200px; height: 1200px;
	margin: 20px auto;
}

.bttn {
	margin: 50px 0px 50px 50px auto;
}

button {
	width: 100px; height: 40px;
	font-size: 15px;
	border-radius: 3px;
	margin-bottom: 20px;
}